*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  place-content: center;
  font-family: sans-serif;
  color: hsl(220 20% 98%);
  background-color: hsl(220 20% 10%);
}

a {
  color: hsl(220 20% 98%);
}
